nav{
    background-image: linear-gradient(to top right, rgb(81, 212, 245),blue,rgb(241, 155, 57));
    padding: 25px;
  
}
#title{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;

    
}
#form{
    text-align: center;
    margin-top:30px;
}
#form input{
   border: 2px solid rgb(16, 133, 168);
   width: 45%;
   text-align: center;
   border-radius: 8px;
   font-size: larger;
   box-shadow: 20px 20px 30px rgb(6, 6, 7);

}
#form button[type='submit']{
    width: 100px;
    border: 2px solid rgb(16, 133, 168);
    border-radius: 8px;
    background-color: rgb(77, 218, 236);
    font-size: larger;
    cursor: pointer;
    box-shadow: 30px 20px 30px rgb(13, 13, 14);
}
#form button[type='submit']:hover{
    background-image: linear-gradient(rgb(0, 255, 255),rgb(136, 136, 243),orange);
}
